* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

.list ul li {
	list-style: none;
	display: inline-block;
}

.nav {
	background: linear-gradient(to right, rgb(200, 47, 58) 0%,
		rgb(44, 169, 207) 100%);
	position: fixed;
	width: 100%;
	z-index: 1;
}

.list li {
	float: right;
	padding: 20px;
	transition: transform 0.4s;
}

.list ul {
	/* background-color: #10847E;*/
	position: absolute;
	margin-right: 0%;
	position: absolute;
	top: 0;
	box-shadow: 0 5 black;
	/* margin-top: 0%; */
	right: 0px;
	width: 1372px;
}

.list ul {
	padding-right: 0px;
}

.list ul, .list li, .list a {
	text-decoration: none;
	color: white;
	font-family: monospace;
	font-size: 25px;
	font-weight: 500;
	/* margin-right: 20px; */
}

.list li:hover, .list a:hover {
	color: orange;
	border-radius: 5px;
	cursor: pointer;
}

.list li:hover {
	transition-duration: 0.2s;
	transform: translateY(-10px);
}

body {
 	background-repeat: no-repeat;
	overflow-x: hidden;
	background-size: 100% 100%;
}

.logo img {
	height: 60px;
	width: 60px;
	margin-left: 20px;
}

/* banner */
.slide {
	position: absolute;
	top: 120px;
}

.products tr td {
	padding-left: 220px;
}

#copyrights {
	text-align: center;
	color: yellow;
}

.aboutUs {
	background: linear-gradient(to right, rgb(255,105,99) 0%,
		rgb(255,123,100)100%);
	border-radius: 5px;
	height: 800px;
	width: 950px;
	position: absolute;
	top: 150px;
	left: 200px;
	background-size: cover;
	box-shadow: 0 0 15px black;
}

.aboutUs p{
text-indent: 150px;
line-height: 1.5;
text-align: justify;
margin: 20px;
color: white;
}

.aboutUs h1{
text-align: center;

}
