* {
	margin-left: 0px;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background-color: rgb(241, 224, 187);
	background-repeat: repeat-y;
	background-size: cover;
	overflow-x: hidden;
	margin-top: 0px;
}

#navigation ul li {
	list-style: none;
	padding: 20px;
	display: inline-block;
	padding-right: 80px;
	/* font-weight: 600;
	font-size: 20px; */
}

#navigation {
	background: linear-gradient(to right, rgb(200, 47, 58) 0%,
		rgb(44, 169, 207) 100%);
	width: 100%;
	margin-top: 0%;
}

#navigation ul li a {
	text-decoration: none;
	color: whitesmoke;
	display: inline;
}

#navigation ul li a:hover {
	color: black;
}

#product {
	position: relative;
	background-color: rgb(158, 202, 207, 0.5);
	height: 250px;
	border-radius: 5px;
	width: 1200px;
	left: 70px;
}

#product img {
	height: 100px;
	width: 90px;
	position: relative;
	left: 40px;
	top: 50px;
}

#product h5 {
	position: relative;
	left: 20px;
	top: 60px;
}

#product #details {
	position: relative;
	left: 220px;
	top: -60px;
}

#product #btn {
	position: relative;
	top: -250px;
	left: 900px;
}

#product #btn button {
	height: 40px;
	width: 80px;
	border: none;
	border-radius: 5px;
	background-color: red;
}

#btn1 {
	position: relative;
	left: 120px;
	top: 30px;
}

#product #btn button:hover {
	box-shadow: 0 0 5px black;
}

#product #img h5 {
	position: relative;
	left: 40px;
}

#details h5 {
	position: relative;
	top: -40px;
	left: 50px;
}

#deleteButton {
	color: white;
	background-color: red;
	outline: none;
	border: none;
	height: 40px;
	width: 80px;
	border-radius: 5px;
}