* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

.list ul li {
	list-style: none;
	display: inline-block;
}

.list li {
	float: right;
	padding: 20px;
	transition: transform 0.4s;
}

.list ul {
	/* background-color: #10847E;*/
	height: 70px;
	margin-right: 0%;
	position: absolute;
	top: 0;
	box-shadow: 0 5 black;
	/* margin-top: 0%; */
	right: 0px;
	width: 1372px;
	padding-right: 0px;
}


.list ul, .list li, .list a {
	text-decoration: none;
	color: white;
	font-family: monospace;
	font-size: 25px;
	font-weight: 500;
	/* margin-right: 20px; */
}

.list li:hover, .list a:hover {
	color: orange;
	border-radius: 5px;
	cursor: pointer;
	transform: translatey(-10px);
}

.list {
	background: linear-gradient(to right, rgb(200, 47, 58) 0%,
		rgb(44, 169, 207) 100%);
}

body {
	background-image: url(Assets/homepage_img.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	overflow-x: hidden;
	background-color: rgb(233, 225, 199);
}

.logo img {
	height: 60px;
	width: 60px;
	margin-left: 20px;
}

#userProfile {
	position: absolute;
	left: 90px;
	background-color: rgb(107, 119, 146, 0.5);
	top: 90px;
	color: white;
}

#userProfile td, tr {
	padding: 20px;
}

#userProfile label {
	margin-top: 50px;
}

#userProfile input {
	margin-top: 42.5px;
	height: 30px;
	width: 250px;
}

#walletMoneyUpdateForm {
	position: absolute;
	left: 700px;
	bottom: 464px;
}

#walletMoneyUpdateForm input{
	height: 30px;
    width: 250px;
}

#walletMoneyUpdateForm button {
	position: relative;
	left: 30px;
	height: 30px;
	border: none;
	outline: none;
	border-radius: 2px;
	background-color: yellowgreen;
	box-shadow: 0 0 2px black;
	width: 110px;
}

#walletMoneyUpdateForm button:hover {
	box-shadow: 0 0 5px black;
	transition-duration: 0.2s;
	color: white;
}

textarea {
	resize: none;
	outline: none;
	border: none;
	border-radius: 3px;
	box-shadow: 0 0 5px black;
}

#pointMoney {
	position: relative;
	top: 190px;
	left: 700px;
}

#pointMoney input{
	height: 30px;
    width: 250px;
}

#pointMoney button {
	position: relative;
	left: 30px;
	height: 30px;
	border: none;
	outline: none;
	border-radius: 2px;
	background-color: yellowgreen;
	box-shadow: 0 0 2px black;
	padding: 5px;
}

#pointMoney button:hover {
	box-shadow: 0 0 5px black;
	transition-duration: 0.2s;
	color: white;
}

#saveChangesBtn {
	background-color: yellowgreen;
	position: relative;
	left: 160px;
	width: 100px;
	height: 30px;
	outline: none;
	border: none;
	border-radius: 3px;
}

#saveChangesBtn:hover {
	box-shadow: 0 0 5px black;
	transition-duration: 0.2s;
	color: white;
}

#updatedName {
	position: relative;
	bottom: 20px;
}

#updatedPassword {
	position: relative;
	bottom: 20px;
}

#UpdatedMobNum {
	position: relative;
	bottom: 20px;
}

input {
	outline: none;
	border: none;
	box-shadow: 0 0 5px black;
	border-radius: 2px;
}

input:hover {
	box-shadow: 5px 5px 5px black;
	transition-duration: 0.2s;
}

textarea:hover {
	box-shadow: 5px 5px 5px black;
	transition-duration: 0.2s;
}

.InsuffiendMoney {
	position: absolute;
	left: 780px;
	top: 170px;
	color: red;
	z-index: 1;
}

.addressNull {
	position: relative;
	top: 430px;
	left: 100px;
	color: red;
	z-index: 2;
}

.cartOrder {
	position: absolute;
	left: 760px;
	top: 170px;
	color: red;
	z-index: 1;
}

#pointsMsg {
	position: absolute;
	left: 760px;
	top: 280px;
	color: red;
	z-index: 1;
}

label {
	font-weight: 600;
}

#space {
	width: 700px;
}

.nav {
	font-weight: 400;
}